<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmailSend" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/IISHostedEmailSender/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmailSend"
                contract="ServiceReference1.IEmailSend" name="WSHttpBinding_IEmailSend">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>